@media screen and (max-width: 970px){
    .nav ul.nav-menu {
        justify-content: space-around;
    }

    .nav ul.nav-menu li a {
        text-align: center;
    }
}

@media screen and (max-width: 925px){
    .header .header-container .search-form {
        width: 64%;
    }

    .header .header-container .search-form input {
        width: 75%;
    }

    .header-container .logo {
        margin-bottom: 25px;
    }

    .banner-container .slider-wrapper {
        height: 260px;
    }

    .banner-container .banner h2 {
        font-size: 20px;
    }

    .banner-container .banner p {
        font-size: 13px;
    }

    .banner-container .banner .sale {
        font-size: 17px;
    }

    .banner-container .banner .sale-price {
        font-size: 21px;
    }
}


@media screen and (max-width: 716px) {
    .header .header-container .search-form input {
        width: 65%;
    }

    .banner-container {
        flex-direction: column;
        align-items: center;
    }

    .banner-container .slider-wrapper {
        height: 200px;
        width: 80%;
        margin-bottom: 15px;
    }

    .banner-container .banner h2 {
        font-size: 27px;
    }

    .banner-container .banner p {
        font-size: 15px;
    }
}

@media screen and (max-width: 620px) {

    .main {
        justify-content: center;
    }
    .main .aside {
        position: absolute;
        z-index: 4;
        left: -195px;
    }

    .main .main-content {
        max-width: 90%;
        width: 90%;
    }

    .main .main-content .sellers-wrap .seller-block {
        font-size: 15px;
    }

    .main .books-wrapper .books-content {
        justify-content: space-around;
    }

    .main .aside .show-hide-genres {
        display: block;
    }
}

@media screen and (max-width: 525px) {
    .header .header-container .search-form {
        width: 85%;
        margin-bottom: 20px;
    }

    .header .header-container .search-form .btn-search {
        font-size: 20px;
        padding-left: 10px;
    }

    .header-container .your-cart .busket-card {
        font-size: 18px;

    }

    .header-container .your-cart .price-checkout .cart-price {
        font-size: 24px;
    }

    .header-container .your-cart .price-checkout .checkout {
        font-size: 14px;
    }
}

@media screen and (max-width: 365px) {
    .header .header-container .search-form .btn-search {
        font-size: 16px;
    }

    .main .main-content .sellers-wrap .seller-block {
        padding: 6px 10px;
    }
}